.backdrop {
    position: fixed;
    pointer-events: none;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 95vh;
    width: 95vw;
}

.main-content {
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 230px;
    height: 70px;
}

.success {
    background-color: #088a26;
}

.fail {
    background-color: #DC3545;
}