.backdrop {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.425);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: white;
    height: 230px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top {
    line-height: 20px;
    line-break: anywhere;
    overflow: auto;
}

.bottom {
    display: flex;
    justify-content: end;
    gap: 30px;
}