.content {
    background-color: white;
    height: 200px;
    width: 300px;
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top {
    line-height: 20px;
}

.bottom {
    display: flex;
    justify-content: end;
    gap: 30px;
}