.user-div{
    width: 300px;
    height: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid #c4c4c4;
    justify-content: space-between;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-picture{
    height: 60px;
}

.buttons{
    display: flex;
    gap: 20px;
    justify-content: end;
}