.inputs-div {
    gap: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.single-input-div {
    line-height: 0;
}

.input-box {
    border: 1px solid black;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
}

.address-input-div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
}

.street-input,
.neighborhood-input {
    grid-row: 1;
}