.container{
    display: flex;
    flex-direction: column;
    border: 2px solid #c4c4c4;
    border-radius: 6px;
    padding: 20px;
    gap: 20px;
}

.data{
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 25px;
}