button {
    border: 1px solid gray;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
}

button:hover{
    box-shadow: 0 0 30px gray;
}

.primary-btn {
    padding: 5px 30px 5px 30px;
}

.secondary-btn,
.danger-btn {
    padding: 5px 10px 5px 10px;
}

.danger-btn {
    background-color: rgb(231, 0, 0);
    color: white;
    width: 100px;
}

.danger-btn:hover {
    background-color: rgb(255, 0, 0);
}