.user-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0 20px 0;
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    max-width: 100%;
    word-break: break-all;
    text-align: center;
}

.profile-picture {
    height: 60px;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 10px 0 0;
}