.inputs-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.single-input-div {
    display: flex;
    flex-direction: column;
}

.input-box {
    border: 1px solid black;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
}

.address-input-div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
}

.street-input,
.neighborhood-input {
    grid-row: 1;
}

.hide-error {
    visibility: hidden;
}

.show-error{
    color: red;
}