.inner-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.backdrop {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.021);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: white;
    border: 2px solid #c4c4c4;
    border-radius: 6px;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.emtpyContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner-content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.close-modal-btn {
    cursor: pointer;
    color: red;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.664);
    border-radius: 6px;
    padding: 5px 12px 5px 12px;
    font-weight: 700;
}

.users-containers {
    width: 100%;
    display: flex;
    flex-direction: column;
}