.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 50px 120px 50px 120px;
    gap: 30px;
    border: 1px solid gray;
    border-radius: 4px;
}