body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}