.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 400px;
}



::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 9999px;
    cursor: grab;
}


::-webkit-scrollbar-thumb:active {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 9999px;
    cursor: grabbing;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.backdrop {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.425);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}